@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

#bankBody {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 18px;
}

.viewportBox {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.firstBackground {
  background-image: radial-gradient(#FFFFAF, #FFFFFF);
}

.lightGray {
  background-image: radial-gradient(#FFFFAF, #FFFFFF);
}

.exampleHeader {
  padding-top: 23vh;
  font-size: 72px;
  text-align: center;
  margin-bottom: 0;
}

.smallExampleHeader {
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}

.exampleDescription {
  width: 700px;
  color: #777777;
  font-size: 22px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.scrollDownArrow {
  text-align: center;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top-color: black;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 48vw;
}

.scrollDownArrow:hover {
  opacity: 50%;
  cursor: pointer;
}

.exampleList {
  margin-left: 20px;
}

.codeBox {
  width: 500px;
  background-color: #222222;
  border: 5px solid #444444;
  color: #DDDDDD;
  text-align: left;
  padding: 15px;
  line-height: 22px;
  font-size: 18px;
  font-family: "Inconsolata", monospace;
}

.comment {
  color: gray;
}

.yellow {
  color: #FFFF90
}

.string {
  color: #66AA22
}

.newKeyword {
  color: #DD33DD;
}

.function {
  color: #9999FF;
}

.constKeyword {
  color: #DD33DD;
}
