body {
	background-color: #e6ecf0;
	margin-left: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding-right: 30%;
}

#dateline {
  font-weight: normal;
  margin-bottom: 5px;
  position: relative;
}

#dateline span {
  font-style: oblique;
}

#datelineSeparator {
  width: 95%;
  height: 1px;
  background-color: black;
  margin-bottom: 40px;
}

table {
  border: 1px solid black;
}

th, td {
  min-width: 200px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
