.popUp {
	border-radius: 30px;
	box-shadow: 0 0 50px black;
	box-sizing: border-box;
	padding-bottom: 1px;
  position: absolute;
  z-index: 2;
	font-family: Arial, sans-serif;
	font-size: 17px;

  /* Make text inside the popUp unselectable. */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paddingTop10px {
  padding-top: 10px;
}

.paddingTop30px {
  padding-top: 30px;
}

.width200px {
  width: 200px;
}

.width180px {
  width: 170px;
}

.popUpSection {
	width: 180px;
	margin-left: 10px;
	border: solid 2px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-bottom: 10px;
}

.sectionHeader {
  margin: 5px;
  text-align: center;
}

.marginTop20px {
  margin-top: 20px;
}

.marginTop30px {
  margin-top: 30px;
}

.highlightSection {
	height: 70px;
}

.boxHeader {
	font-weight: normal;
	text-align: center;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.highlighterColour {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-sizing: border-box;
	margin-left: 10px;
	float: left;
	position: relative;
}

.inactiveColourBorder {
  border: 2px solid;
}

.activeColourBorder {
  border: 4px solid;
}

.highlighterColour:hover {
	opacity: 50%;
	cursor: pointer;
}

.none span {
	font-size: 10px;
	position: absolute;
	top: 7px;
	left: 4px;
}

.turnOnBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
  background-color: #FFDDDD;
}

.turnOnBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.turnOffBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
  background-color: #DDFFDD;
}

.turnOffBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.undoBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
}

.undoBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.resetBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
}

.resetBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.noteSection {
	height: 150px;
}

.noteSection textarea {
  height: 110px;
  padding: 10px;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  resize: none;

  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.note {
	position: absolute;
	font-size: 16px;

	box-shadow: 0 0 50px #333333;
	box-sizing: border-box;
	padding: 10px;
	border-bottom-right-radius: 10px;
	background-color: #FFFFAA;
	min-height: 30px;
}

.minimizedNote {
	width: 55px;
}

.maximizedNote {
	width: 250px;
}

.noteContent {
	margin-top: 25px;
  max-height: 100px;
  z-index: 1;
  overflow-y: scroll;
  overflow-wrap: break-word;
	/* font-family: Arial, sans-serif; */
}

.maximizedNoteContent {
	width: 230px;
	display: block;
}

.minimizedNoteContent {
	display: none;
}

.noteButton {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid;
	z-index: 1.5;
	box-sizing: border-box;
	color: #555555;

	/* Make text inside the button unselectable. */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.deleteNoteButton {
	top: 5px;
	left: 5px;
	background-color: #FFCCCC;
	padding-left: 5px;
	padding-top: 3px;
	font-size: 10px;
}

.deleteNoteButton:hover {
  background-color: #FFDDDD;
  cursor: pointer;
}

.changeNoteViewButton {
	top: 5px;
	left: 30px;
	background-color: #CCFFCC;
}

.changeNoteViewButtonMaximized {
	padding-left: 7px;
	font-size: 14px;
	padding-top: 1px;
}

.changeNoteViewButtonMinimized {
	font-size: 13px;
	padding-top: 1px;
	padding-left: 5px;
}

.changeNoteViewButton:hover {
  background-color: #DDFFDD;
  cursor: pointer;
}

.paddingBottom7px {
  padding-bottom: 7px;
}

.smallButton {
  width: 60px;
  height: 30px;
  margin: 10px;
  margin-right: 0;
  border: solid 2px;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  text-align: center;
  padding-top: 4px;
}

.colorGray {
  color: #555555;
}

.smallButton:hover {
	opacity: 50%;
	cursor: pointer;
}

.marginLeft20px {
  margin-left: 20px;
}

.changeViewButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #EEEEAA;
  border: 2px solid;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.changeViewButton:hover {
  background-color: #FFFFAA;
  cursor: pointer;
}

.changeViewButton span {
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
}

.plusSignPosition {
  top: 0px;
  left: 4px;
}

.minusSignPosition {
  top: -2px;
  left: 7px;
}

.xSignPosition {
  top: -3px;
  left: 4px;
}
