.popUp {
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 0 50px black;
	box-sizing: border-box;
	padding-bottom: 1px;
  position: absolute;
  z-index: 2;

  /* Make text inside the popUp unselectable. */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paddingTop10px {
  padding-top: 10px;
}

.paddingTop30px {
  padding-top: 30px;
}

.width200px {
  width: 200px;
}

.width180px {
  width: 170px;
}

.popUpSection {
	width: 180px;
	margin-left: 10px;
	border: gray solid 2px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-bottom: 10px;
}

.sectionHeader {
  margin: 5px;
  text-align: center;
  color: dimgray;
}

.marginTop20px {
  margin-top: 20px;
}

.marginTop30px {
  margin-top: 30px;
}

.highlightSection {
	height: 70px;
}

.boxHeader {
	font-weight: normal;
	text-align: center;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #555555;
}

.highlighterColour {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-sizing: border-box;
	margin-left: 10px;
	float: left;
	position: relative;
}

.inactiveColourBorder {
  border: 2px solid gray;
}

.activeColourBorder {
  border: 4px solid gray;
}

.highlighterColour:hover {
	opacity: 50%;
	cursor: pointer;
}

.none span {
	font-size: 10px;
	color: gray;
	position: absolute;
	top: 7px;
	left: 4px;
}

.turnOnBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
	color: #555555;
  background-color: #FFDDDD;
}

.turnOnBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.turnOffBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
  color: #555555;
  background-color: #DDFFDD;
}

.turnOffBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.undoBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
	color: #555555;
}

.undoBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.resetBtn {
	height: 30px;
	text-align: center;
	padding-top: 4px;
	color: #555555;
}

.resetBtn:hover {
	opacity: 50%;
	cursor: pointer;
}

.noteSection {
	height: 150px;
}

.noteSection textarea {
  height: 110px;
  padding: 10px;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  resize: none;

  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.note {
  width: 200px;
  max-height: 100px;
  background-color: #FFFFAA;
  z-index: 1;
  position: absolute;
  box-shadow: 0 0 50px #333333;
  box-sizing: border-box;
  padding: 10px;
  border-bottom-right-radius: 20px;

  overflow-y: scroll;
  overflow-wrap: break-word;
}

.deleteNoteButton {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFCCCC;
  border: 1px gray solid;
  z-index: 1.5;
}

.deleteNoteButton:hover {
  background-color: #FFDDDD;
  cursor: pointer;
}

.paddingBottom7px {
  padding-bottom: 7px;
}

.smallButton {
  width: 60px;
  height: 30px;
  margin: 10px;
  margin-right: 0;
  border: gray solid 2px;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  text-align: center;
  padding-top: 4px;
}

.colorGray {
  color: #555555;
}

.smallButton:hover {
	opacity: 50%;
	cursor: pointer;
}

.marginLeft20px {
  margin-left: 20px;
}

.changeViewButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #EEEEAA;
  border: 2px gray solid;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.changeViewButton:hover {
  background-color: #FFFFAA;
  cursor: pointer;
}

.changeViewButton span {
  font-size: 20px;
  color: #555555;
  font-weight: bolder;
  position: absolute;
}

.plusSignPosition {
  top: -3px;
  left: 4px;
}

.minusSignPosition {
  top: -3px;
  left: 6px;
}

.xSignPosition {
  top: -3px;
  left: 4px;
}
